In [185]:
import pandas as pd
import requests
import numpy as np
from io import StringIO

In [186]:
# step2. 爬取目標網站
date = '109_12' #民國年份_月份

url = 'https://mops.twse.com.tw/nas/t21/sii/t21sc03_'+ date +'_0.html'
html_df = pd.read_html(url)

In [187]:
for df in html_df:
    if df.shape[1]==11:
        df.drop(df.tail(1).index, inplace=True)
df= pd.concat([df for df in html_df if df.shape[1] == 11],ignore_index=True)

In [ ]:
###### 股票表格重置
ndf1=df1['Unnamed: 0_level_0']
ndf2=df1['Unnamed: 1_level_0']
ndf3=df1['營業收入']
ndf4=df1['累計營業收入']
ndf5=df1['備註']
ndf=ndf1.join(ndf2)
ndf=ndf.join(ndf3)
ndf=ndf.join(ndf4)
ndf=ndf.join(ndf5)
ndf

In [189]:
#檢索單公司營收報告
index = list(ndf['公司名稱']).index('台積電')
ndf.loc[index:index]

,公司代號,公司名稱,當月營收,上月營收,去年當月營收,上月比較增減(%),去年同月增減(%),當月累計營收,去年累計營收,前期比較增減(%),備註
280,2330,台積電,117364912.0,124865438.0,103313138.0,-6.0,13.6,1.339255e+09,1.069985e+09,25.16,-